@media screen and (max-width: 480px) {
  .cardContainer {
  background-color: white;
  width: 90%;
  margin: 15px auto;
  box-shadow: 2px 3px 20px grey;
  }

  img{
      width: 60%; 
  }

  .navbar-fixed-top{
    z-index: -1;
  }

  .open >.dropdown-menu{
    margin-top: 2.1%;
  }
  .additem {
  position: fixed!important;
  right: -22px!important;
  top: -9px!important;
  
}
}

@media screen and (min-width: 481px) {
  #board {
    display: inline-block;
  }
  .cardContainer {
    display: inline-block;
    background-color: white;
    width: 300px;
    margin: 15px;
    box-shadow: 2px 3px 20px grey;
    }
}


#submit {
  float: right;
  background: #4EB266;
}

body {
  background: #DDE5E5;
}

/* sets the position of the add icon */
.additem {
  position: relative;
  right: -5px;
  top: -9px;
  
}



.collapse-button {
  position: relative;
  float: right;
  right: 20px;
  height: 10px;
}

.collapse-button img {
  height: 20px;
}
.food-img {
  height: 150px;
  width: 100%;
}
.header-Div {
  height: 60px;
}
