#submit {
  float: right;
  background: #4EB266;
}

body {
  background: #DDE5E5;
}

/* sets the position of the add icon */
.additem {
  position: absolute;
  right: 0;
  bottom: 0;
  
}

.cardContainer {
  background-color: white;
  width: 90%;
  margin: auto;
  box-shadow: 2px 3px 20px grey;
  
}

.collapse-button {
  background-color: grey;
  position: relative;
  float: right;
  right: 20px;
}
.food-img {
  height: 150px;
  width: 100%;
}
.header-Div {
  height: 50px;
}