#navbar-main {
  background-color: rgb(78,178,102);
<<<<<<< Updated upstream
  font: white;
}

#homepage-body {
  background-color: #E5F9E0;
  font-size: 30pt;
}
#homepage-body img {
  margin:0 auto;
}
#homepage-body button {
  background-color: #4EB266;
}
=======
}

body {
  background-image: url("./Pictures/grocery-store-background.jpg");
}
>>>>>>> Stashed changes
