<header id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-fixed-top navbar-custom">
            <div class="nav navbar-brand">
                <a class="navbar-foodboard" href="./index.html">
                    <img src="./Pictures/fb-logo-transparent.png" alt="FoodBoard">
                </a>
            </div>

            <!-- navbar logo for mobile-->
            <div class="nav navbar-brand-sm">
                <div class="text-center">

                    <a class="navbar-foodboard" href="#page-top">
                        <img src="./Pictures/fb-logo-transparent.png" alt="FoodBoard">
                    </a>
                </div>
                <div class="navbar-right dropdown">

                    <a class="btn btn-primary btn-lg dropdown-toggle glyphicon glyphicon-menu-hamburger" data-toggle="dropdown"></a>
                    <button type="button" class="btn btn-default" aria-label="Right Align" class="btn additem" data-toggle="modal" data-target="#itemModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item text-center">
                            <a href="/logout" class="nav-link">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Nav bar for Desktop-->
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li class="nav-item text-center">
                    <form action="/board">
                        <input type="submit" class="linkButton" value="BOARD" />
                    </form>
                </li>
                <li class="nav-item">
                    <a href="#how-it-works" class="nav-link" id="how-link">VALUES</a>
                </li>
                <li class="nav-item text-center">
                    <a href="#our-team" class="nav-link" id="team-link">OUR TEAM</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#logreg-modal">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
</header>