<!-- Register Panel -->
            <div class="tab-pane fade" id="register-panel" role="tabpanel">
              <!-- Body of Register Panel -->
              <div class="modal-body">
                <div>
                  <p class="modal-text">Register for FoodBoard</p>
                </div>
                <form  id= "registration_form" role="form" name="registration" class="form-horizontal" action="/user_registration" method="POST">
                  <!-- Registration form username input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-sm-9">
                      <input id="reg-first-field" class="form-control" type="text" placeholder="First Name" name="register_first_name" required>
                    </div>
                  </div>
                  <!-- Registration form username input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="text" placeholder="Last Name" name="register_last_name" required>
                    </div>
                  </div>
                  <!-- Registration form username input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="email" placeholder="Email Address" name="register_email" id='register_email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    </div>
                  </div>
                  <!-- Register form password input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="password" placeholder="Enter Password" name='register_pwd' id="register_pwd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be more than 8 characters.">
                    </div>
                  </div>
                  <!-- Register form password confirm input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-ok-circle"></span>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="password" placeholder="Confirm Password" name='register_pwd_confirm' id="register_pwd_confirm" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be more than 8 characters.">
                    </div>
                    <div class='invalid-feedback'> Your passwords are not the same. </div >
                  </div>
                  <!-- Register form suite number input -->
                  <div class="form-group">
                    <div class="col-sm-2 input-addon">
                      <span class="glyphicon glyphicon-home"></span>
                    </div>
                    <div class="col-sm-9">
                      <input class="form-control" type="number" placeholder="Apartment Suite Number" name="register_suite_number" id='register_suite_number' required>
                    </div>
                  </div>
                  <!-- Register form submit button -->
                  <div class="form-group">
                    {{!-- <input id='register-submit' type="submit" class="btn btn-success center-block disabled" value="Register"></input> --}}
                    <button id="register-submit" class="btn btn-success center-block btn-primary disabled" type="submit" disabled>Register</button>
                    
                  </div>
                </form>
              </div>