@media screen and (max-width: 480px) {   

    .form-control{
        width: 85%;
        margin-left: 3em;
        margin-top: -2.3em;
      }
    
      .glyphicon{
        padding-left:0!important;
      }
      .input-addon .glyphicon {
        padding-left: 30px;
        font-size: 25px;
        color: #4EB266;
      }

      .head{
          background-color: #4EB266;
      }

      .account{
          padding-top: 10%;
          text-align: center;
      }

      .logoHead img {
        width: 12%;
      }

      .row {
          padding: 2%;
      }

      .col-xs-4 {
          font-weight: bold;
      }
      #pw-form {
          border-top: 2px solid lightgray;
          border-bottom: 2px solid lightgray;
      }
      #pw-form form {
          padding-top: 5%;
      }

      #suite-form {
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
    }
    #suite-form form {
        padding-top: 5%;
    }
}

.edit-info {
    border: none;
}