@media screen and (max-width: 480px) {   

    .account {
        padding-top: 30px;
    }
    
    .form-control{
        width: 85%;
        margin-left: 3em;
        margin-top: -2.3em;
      }
    
      .glyphicon{
        padding-left:0!important;
      }
      .input-addon .glyphicon {
        padding-left: 30px;
        font-size: 25px;
        color: #4EB266;
      }

      .pull-right{
          margin-right:20px;
      }
      
      .head{
          background-color: #4EB266;
      }

      .account{
          text-align: center;
      }

      .logoHead img {
        width: 12%;
      }
}

body {
    background: #DDE5E5;
  }