@media screen and (max-width: 480px) {
  .cardContainer {
  background-color: white;
  width: 90%;
  margin: 15px auto;
  box-shadow: 2px 3px 20px grey;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  }

  .navbar-foodboard > img {
    padding-top:2%;
    padding-bottom:1%;
  }

  #card-list {
    padding-top : 10%;
  }
  .open >.dropdown-menu{
    margin-top: 2.5%;
    border-top: none;
  }

  .btn-default{
    float: right;
    background-color: #4EB266;
    border-color: #4EB266;
    padding: 0;
    margin-top: -0.7%;
  }
  /* Style the 'add item' button */
.btn-default:focus{
  color: #4EB266;
  background-color: #4EB266;
  border-color: #4EB266;
  text-decoration:none;
}
.btn-default:hover {
  background-color:#4EB266;
  border-color: #4EB266;
}

.btn-default:active {
  color: #4EB266;
  background-color: #4EB266;
  border-color: #4EB266;
  text-decoration:none;
}
  
  .glyphicon{
    color:white;
    top: 6px;  
  }

  .glyphicon-option-vertical {
    color:darkslategrey !important;
    background:transparent;
    border: none;
  }

  .collapse-button {
    height:30px !important;
    left: 10px !important;
    font-size:1.4em;
    margin-top: 25%;  
  }
}





@media screen and (min-width: 481px){
  #board {
    display: inline-block;
  }
  .cardContainer {
    display: inline-block;
    background-color: white;
    width: 10%;
    margin: 15px;
    box-shadow: 2px 3px 20px grey;
    }
}


#submit {
  float: right;
  background: #4EB266;
  position: relative;
  top: 17px;
}

body {
  background: #DDE5E5;
}



.collapse-button {
  position: relative;
  float: right;
  right: 20px;
  height: 10px;
}

.collapse-button img {
  height: 20px;
}
.food-img {
  height: 300px;
  width: 100%;
}
.header-Div {
  height: 60px;
}
