@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/* Header -> NavBar */
@media screen and (max-width: 480px) {
  .navbar-right-custom {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-brand-sm {
    padding: 1.5% 3% 3% 3%;
    border-bottom:none;
  }
  .navbar-brand-sm .dropdown {
    margin-top: -30px;
  }
  .navbar-brand-sm img {
    width: 10%;
    
  }

  #background-sm {
    overflow: hidden;
    background-color: darkslategray;
  }

  .homepage-background-sm img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.7;
    /* height: 850px; */
  }

  #background-lg {
    display: none;
  }
  .home-background img{
    display:none;
  }

  #homepage-body img {
    width: 50%;
    margin: 0 auto;
  }

  #homepage-body {
    position: absolute;
    font-size: 16pt;
    color: white;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    transform: translate(0%, -154.571%);
  }
  #homepage-body img {
    width: 50%;
    margin: 0 auto;
  }

  .container-fluid-custom::before {
    display:none;
    border:none;
  }

  .form-control{
    width: 85%;
    margin-left: 3em;
    margin-top: -2.3em;
  }

  .glyphicon{
    padding-left:0!important;
  }

  /** Position the hamburger icon. */
  .glyphicon-menu-hamburger {
    font-size: 18pt;
    margin-top:-1%;
  }

  /** Hide 'Our Team' Section in Mobile */
  #our-team {
    display:none;
  }

  #getting-started {
    top: 617px;
  }

  /** Style the carousel for mobile */
  .carousel-indicators {
    bottom:-25px !important;
  }

  .col-lg-6 p:nth-last-child(1) {
    display:none;
  }

  .col-lg-6 > p:first-child {
    width:35%;
    margin: 0 auto;
    font-family: 'Cookie', cursive;
    border-bottom: 1px solid white;
    font-size:22pt;
    padding: 2% 1% 1%;
    line-height:0.8em;
  }

  .container-contact-us {
    padding: 35% 10% 15%;
  }

  .phone-card.col-lg-3.text-center {
    padding-top: 5%;
    width: 85%;
    margin: 0 auto;
  }
}

/************************************************
*
*               DESKTOP STYLING
*
************************************************/
@media screen and (min-width: 481px) {

  .modal-open .modal{
    overflow-y: hidden;
  }
  
  .homepage-background img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.7;
    width: 100%;
  }
  .navbar-brand-sm {
    display:none;
  }
  .dropdown {
    display: none;
  }
  .navbar-foodboard img {
    width: 9%;
    margin-top: -15px;
  }
  #background-sm {
    display: none;
  }

  html{
    overflow-y: scroll;
  }

  body#page-top.modal-open{
    padding-right: 0!important;
  }

  #homepage-body{
    font-size: 24pt;
    color: white;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
  }

  div#homepage-body {
    position: absolute;
    padding-left: 33.3%;
    padding-right: 33.3%;
    margin-left: auto;
    margin-right: auto;
  }

  #homepage-body img {
    margin: 0 auto;
  }
  
  #homepage-body button {
    background-color:#4EB266;
    font-size: 20pt;
  }
  
  /** Styling for 'Our Team' on desktop */
  #our-team {
    padding: 10% 0%;
  }

  #our-team-title {
    font-family: 'Cookie', cursive;
    font-size:60pt;
    padding-bottom:5%;
  }

  /** Styling for How it works carousel on desktop */

  #getting-started {
    margin-top:-3%;
  }
  .col-lg-6 > p:first-child {
    width: 60%;
    margin: 0 auto;
    font-family: 'Cookie', cursive;
    padding-top: 25%;
    font-size:60pt;
    border-bottom: 1px solid white;
    line-height:2em;
  }

  .col-lg-6 > p:nth-child(2) {
    padding-top: 10%;
    font-size:16pt;
  }

  /** Styling for Contact us */
   .container-contact-us {
    position: relative;
    padding: 12% 0%;
    color:#333131;
    margin:0%;
    width:100%;
  }
  .container-contact-us-content p {
    font-size: 16pt;
  }
  .container-contact-us-content span {
    font-size:8pt;
  }
  .container-contact-us-background {
      background: url(https://images.unsplash.com/photo-1518665750801-883c188a660d?ixlib=rb-0.3.5&s=45578e4af327cda25527a0a6628ad5a9&auto=format&fit=crop&w=1934&q=80);
      -webkit-filter: grayscale(800%) blur(3px);
      -moz-filter: grayscale(800%) blur(3px);
      -o-filter: grayscale(80%) blur(3px);
      -ms-filter: grayscale(800%) blur(3px);
      filter: grayscale(80%) blur(3px);
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
      position:absolute; top:0px; right:0px; bottom:0px; left:0px;
  }
  .logodiv {
    margin: 2% 0% !important;
  }
}

body {
  position:relative;  
  height:auto;
}
.navbar {
  min-height:30px;
}
.navbar-fixed-top {
  border: none;
}
.navbar-custom {
  font-family:'Raleway';
  color:white;
} 

.dropdown .btn-primary {
  background-color: transparent;
  border-style: none;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dropdown-menu {
  width: 107%;
  margin-top: 2%;
  left: -13px;
  border-radius: 0;
  background-color: #4EB266;
  border-top: none;
}

.navbar-brand .navbar-foodboard {
  color:white;
  font-size:50pt;
  padding-left:5%;
  font-weight:bold;
}

.dropdown-backdrop {
  display:none;
}


/* Navbar link properties */

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  -webkit-animation-name: underline-animation;
          animation-name: underline-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  color:white;
}

.nav>li>a {
  color:white;
  text-decoration: none;
  position:relative;
}

.navbar-right-custom>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.navbar-right-custom>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
      transform: scaleX(1);
}



.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.nav>li>a {
  color:white;
}

.navbar-right-custom {
  padding-right: 5%;
  font-family: Helvetica;
  font-size:14pt;
  
}

.dropdown-menu>li>a{
  color: white;
  font-size: 14pt;
}


.row {
  margin-right:0;
  margin-left:0;
}
.col-lg-4 img {
  width: 50%;
  margin: 5%;
}

.col-lg-12 {
  margin: 10 10 10 10;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32pt;
}

/* Customize "About Us" */
.col-lg-2 > img {
  width: 175px;

}

.col-lg-2 > p {
  font-size: 12pt;
}


#our-team {
  background-color: white;
  color:#333131;
  width:100%;
}


#homepage-body-container {
  padding: 0%;
  background: #4EB266;
}

.linkButton { 
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer; 
  text-decoration: none;
}



.homepage-background {
  background-color: black;
  padding: 0%
}
.homepage-background img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.7;
  width: 100%;
}

/* Customize 'Get Started' Button */
#homepage-body button {
  background-color:rgba(78, 178, 101);
  font-size: 16pt;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: black;
  border-radius: 20px;  
  color:white;
}

#homepage-body a {
  text-decoration:none;
  color:white;
}


.container-fluid-custom::before {
  display:block;
  content: " ";
  margin-top: -75px;
  height:20px;
  background: white;
}


.z-depth-1,.btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .card, .pagination .page-item.active .page-link, .badge, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .media .media-left img {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

  /** Remove outline for buttons on focus. */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

/** Remove background color for the hamburger button when active */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {

  outline: none;

}

.glyphicon-menu-hamburger:active {
  -webkit-box-shadow:none;
          box-shadow:none;
}

/** Styling for 'How It Works' Carousel' */

#getting-started {
  position:absolute;
  
}
.container-carousel-custom {
  background: #333131;
  margin:0%;
  width:100%;
  color:white;
  padding: 2.5% 2% 5%;
}

.carousel-control {
  width:auto;
}

.glyphicon-chevron-left {
  margin-left: 10px !important;
}

.glyphicon-chevron-right {
  margin-right: 10px !important;
}

.carousel-indicators {
  bottom:0px;
}

.phone-border {
  background:white;
  border-radius:5px;
  border: solid 1px lightgray;
}

.phone-speaker {
  border: solid 2px lightgray;
  width: 15%;
  margin: 0 auto;
  margin-top:5%;
}

.phone-home-button {
  border: solid 2px lightgray;
  width: 30px;
  height:30px;
  margin: 0 auto;
  margin-bottom: 2.5%;
  border-radius:50%;
}

.phone-content img {
  width:95%;
  height:auto;
  padding: 5% 0.5% 2.5%;;
}

.carousel-inner .item .row{
  padding-bottom: 2%;
}


/** Styling for the 'Contact Us' Page */
#contact-us {
  font-family: 'Cookie', cursive;
  font-size:60pt;
}
#email-icon{
  width:64px;
}

.invalid-feedback {
  display: none;
  text-align: center;
  color: red;
  padding-bottom:2.5%;
  padding-top:2.5%;
  margin-top: -15px;
}


