/**********************************************************
*
*             Stlying for Mobile
*
**********************************************************/
@media screen and (max-width: 480px) {

  .navbar-foodboard img {
    width: 9%;
    margin-top: -15px;
  }

  .navbar-right-custom {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-brand-sm {
    padding: 3%;
    background-color: #4EB266;
  }
  .navbar-brand-sm .dropdown {
    margin-top: -30px;
  }
  .navbar-brand-sm img {
    width: 70%;
    
  }
  .dropdown .btn-primary {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: relative;
    top: 3px;
  }
  .dropdown-menu {
    width: 110%;
    left:-20px;
    border-radius: 0;
    background-color: #4EB266;
  }
  .dropdown-menu li a {
    font-size: 14pt;
    color:white;
  }
}
/**********************************************************
*
*             Stlying for Desktop.
*
**********************************************************/
@media screen and (min-width: 481px){
  .navbar-brand-sm {
    display:none;
  }

  .navbar-fixed-top{
    background-color: #4EB266;
  }
  .navbar-brand .navbar-foodboard {
    font-size: 14pt;
  }
}

/**********************************************************
*
*             General Style
*
**********************************************************/

  /** Position the hamburger icon. */
  .glyphicon-menu-hamburger {
    font-size: 18pt;
  }

  /** Positions the dropdown menu on all navbars */
  .open >.dropdown-menu{
    margin-top: 2.5%;
    border-top: none;
  }
  .dropdown-menu {
    border:none;
  }
  .dropdown .btn-primary {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: relative;
    top: 3px;
  }

.navbar-brand .navbar-foodboard {
  color:white;
  padding-left:5%;
  font-weight:bold;
}


.navbar-foodboard img {
  width: 9%;
  margin-top: -8px;
}

/* Navbar link properties */

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  animation-name: underline-animation;
  animation-duration: 2s;
  color:white;
}

.nav>li>a {
  color:white;
  text-decoration: none;
  position:relative;
}

.navbar-right-custom>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.navbar-right-custom>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.nav>li>a {
  color:white;
}

.navbar-right-custom {
  padding-right: 5%;
  font-family:"HelveticaNeue-Light, Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:14pt; 
}

