<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <Title>FoodBoard</Title>
  <link rel="icon" href="../favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" href='../favicon.ico' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/public/css/home.css">
  <link rel="stylesheet" href="/public/css/login-register.css">
  <link rel="stylesheet" href="/public/css/contactus.css">

  <script src="/public/js/index.js"></script>


  <script src="/socket.io/socket.io.js"></script>

</head>

<body id="page-top">
  {{> navbar}}
  <!-- Homepage-->
  <div id="homepage-body-container" class="container-fluid">
    <div id="background-lg" class="container-fluid-custom homepage-background">

      <img class="background" src="./Pictures/hero-image-flat.jpg" alt="background">

    </div>
    <!-- background image for mobile -->
    <div id="background-sm" class="container-fluid-custom homepage-background-sm">
      <img class="background" src="./Pictures/hero-image.jpg" alt="background">
    </div>

    <div id="homepage-body" class="text-center">
      <img class="img-responsive" src="./Pictures/largelogo-text-transparent.png" alt="FoodBoard logo">
      <p><i>Share More, Waste Less</i></p>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logreg-modal">Get Started!</button>
    </div>
  </div>
  <div id="getting-started"></div>

  <!-- How it works section-->
  <div class="text-center container container-carousel-custom">

    <div id="foodboard-how-to-carousel" class="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#foodboard-how-to-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#foodboard-how-to-carousel" data-slide-to="1"></li>
        <li data-target="#foodboard-how-to-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {{!-- Page 1 --}}
        <div class="item active">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <p>Register</p>
              <p>One step registration from beginning your journey to food sustainability.</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="phone-card col-lg-3 text-center">
              <div class="phone-border">
                <div class="phone-speaker"></div>
                <div class="phone-content">
                  <img src="../Pictures/carousel-1.jpg">
                </div>
                <div class="circle phone-home-button"></div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
        {{!-- Page 2 --}}
        <div class="item">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <p>Share Food</p>
              <p>Post food items that would otherwise perish away, sharing with your community and reducing food waste.</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="phone-card col-lg-3 text-center">
              <div class="phone-border">
                <div class="phone-speaker"></div>
                <div class="phone-content">
                  <img src="../Pictures/carousel-2.jpg">
                </div>
                <div class="circle phone-home-button"></div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <p>Claim</p>
              <p>See something you like? Claim it with a click of a button!</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="phone-card col-lg-3 text-center">
              <div class="phone-border">
                <div class="phone-speaker"></div>
                <div class="phone-content">
                  <img src="../Pictures/carousel-3.jpg">
                </div>
                <div class="   phone-home-button"></div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <div id="carousel-controls">
        <a class="left carousel-control" href="#foodboard-how-to-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#foodboard-how-to-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- OUR TEAM -->
  <div class="container-fluid text-center" id="our-team">
    <div class="row">
      <div class="col-lg-12 text-center" id="our-team-title">
        <p>Our Team</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 text-center">
        <img class="img-circle" src="./Pictures/HeadShots/Angela.gif" alt="Angela Yeung">
        <h3>Angela Yeung</h3>
        <p>Front-End Developer</p>
      </div>
      <div class="col-lg-2 text-center">
        <img class="img-circle" src="./Pictures/HeadShots/Derek.gif" alt="Derek Lee">
        <h3>Derek Lee</h3>
        <p>Operations Officer, Lead Test</p>
      </div>
      <div class="col-lg-2 text-center">
        <img class="img-circle" src="./Pictures/HeadShots/James.gif" alt="James Nguyen">
        <h3>James Nguyen</h3>
        <p>Creative Officer</p>
      </div>
      <div class="col-lg-2 text-center">
        <img class="img-circle" src="./Pictures/HeadShots/Michael.gif" alt="Michael Yu">
        <h3>Michael Yu</h3>
        <p>Back-End Developer</p>
      </div>
      <div class="col-lg-2 text-center">
        <img class="img-circle" src="./Pictures/HeadShots/Robert.gif" alt="Robert Ozdoba">
        <h3>Robert Ozdoba</h3>
        <p>Back-End Developer</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>


  <!-- Modal: Login/Register Forms -->
  <div class="modal fade" id="logreg-modal" tabindex="1" role="dialog">
    <div class="modal-dialog modal-dialog-centered tabbed-modal" role="document">
      <div id="logo-above-modal">
        <img src="./Pictures/fb-logo-transparent.png" alt="FoodBoard">
      </div>
      <!-- Content-->
      <div class="modal-content">
        <!-- Navigation tabs: login/register-->
        <ul class="nav nav-tabs tabs-2 green" role="tablist">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#login-panel" role="tab"> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#register-panel" role="tab"> Register</a>
          </li>
        </ul>

        <!-- Tab Panels -->
        <div class="tab-content">
          <!-- Login Panel -->
          <div class="tab-pane fade in show active" id="login-panel" role="tabpanel">
            {{> login}} {{> register}}
            <!-- Register Panel Footer -->
            <!-- <div class="modal-footer">
                  <button type="submit" class="btn btn-success center-block" value="Register">Register</button>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container container-contact-us">
      <div class="container-contact-us-background-blur">
        <div class="container-contact-us-background"></div>
      </div>
      <div class="container-contact-us-content">
        <div class="row">
          <div class="col-lg-12 text-center" id="contact-us">
            Get In Touch With Us!
          </div>
        </div>
        <div class='row text-center'>
          <div class="logodiv col-xs-12">
            <img id="email-icon" src="../Pictures/paper.png">
          </div>
        </div>
        <div class='row text-center'>
          <div class="col-xs-12">
            <p>We would love to hear feedback from our users. You can contact us at:</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12">
            <p>
              <b>foodboardcanada@gmail.com</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>