<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Title>Account</Title>
    <link rel="shortcut icon" type="image/x-icon" href='../Pictures/flavicon.ico' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/boardpage.css">
    <script src="/public/js/my_claims.js"></script>

    <!-- Form Page Appears -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- socketio-file-upload -->
    <script src="/siofu/client.js"></script>
</head>

<body>
    {{>acc_navbar}}
    <div class="container" id="claims">
        <br>
        <br>
        <h3 class='text-center'>My Claims</h3>
        <div id="card-list">

        </div>
    </div>

</body>

</html>