<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <Title>Account</Title>
  <link rel="icon" href="../favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" href='../favicon.ico' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/css/navbar.css">
  <link rel="stylesheet" href="/public/css/boardpage.css">
  <script src="/public/js/my_claims.js"></script>

  <!-- Form Page Appears -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
  <!-- socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- socketio-file-upload -->
  <script src="/siofu/client.js"></script>
</head>

<body>
  {{>acc_navbar}}
  <div id="board">
    <div id="boardpage-background" class="container-fluid">
      <!-- background image for mobile -->
      <div id="background-sm" class="container-fluid-custom boardpage-background-sm">
        <img class="background-small" src="../Pictures/treewoodmobile.jpg" alt="background">
      </div>
      <!-- background image for desktop -->
      <div id="background-lg" class="container-fluid-custom boardpage-background-lg">
        <img class="background-large" src="../Pictures/treewooddesktop.jpg" alt="background">
      </div>
    </div>
    <br>
    <br>
    <div id="myclaims" class="text-center ">
      <img class="img-responsive" src="../Pictures/myclaimswhitetitle.png" alt="myclaims">
    </div>
    <div id="card-list-claims" class="list-mobile"></div>
  </div>

</body>

</html>