<!DOCTYPE html>
<html lang="en">
  <head>
    <div id='boardpage'></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Title>"Board"</Title>

    <!-- BootStrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/boardpage.css">
    <link rel="stylesheet" href="/public/css/navbar.css">


    <!-- Form Page Appears -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="/public/js/myposts.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- socketio-file-upload -->
    <script src="/siofu/client.js"></script>
  </head>

  <body>

    {{!-- Navbar --}}
    {{>acc_navbar}}
    <!-- Contains contents of the board-->
    <div id="board">
      <div id='card-list' style="padding-top:15%"></div>
    </div>
  </body>
</html>